@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev,
.swiper-button-next {
  color: #43d9ad;
}

.swiper-pagination-bullet-active {
  background: #43d9ad;
}
.autoplay-progress > span {
  display: none;
}
